<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Machine</title>
</head>
<body>
    <h1>Select Coffee Machine Water Line</h1>
    <form method="POST" action="machine/{{ product_id }}/{{ model_id }}/{{ object.type }}/">
        <label for="product_type">Choose a water line: </label>
        <select name="product_type" id="product_type">
            {% for object in object_list %}
                <option value="{{ object.type }}">{{ object.type }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>